header h2{
     font-family: 'Quicksand', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo img{
    height: 100px;
}
header .btn-primary{
    border-radius: 15px;
    
    
}
/* header .btn-primary:hover{
    box-shadow: 0px 2px 2px #007bff;
} */
header .button a{
    font-family: 'Abel', sans-serif;
}

.hero h1{
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 3px 4px gray;
}
.hero .rush img{
    border-radius: 100%;
    height: 240px;
}
.hero .hero-para{
    font-size: 20px;
    color: gray;
}

.intro{
    background-color: #222222;
    height: 50vh;
    
}
.intro h2{
    font-family: 'Quicksand', sans-serif;
    padding-top: 100px;
}
.intro p{
    opacity: 0.8;
}
.intro a{
    font-family: 'Abel', sans-serif;
}
.skills h2{
    font-family: 'Quicksand', sans-serif;
}
.work-sec h2{
    font-family: 'Quicksand', sans-serif;
}
.work-img .card-deck .card {
    align-items: center;
    box-shadow: 0px 2px 2px gray;
}
.card a{
    font-family: 'Abel', sans-serif;
}

.contact{
    background-color: #222222;
    border-radius: 20px;
}
.contact h2{
    font-family: 'Quicksand', sans-serif;
}
.contact .btn-primary{
    border-radius: 15px;
}
.contact a{
    font-family: 'Abel', sans-serif;
}

footer .footer-bg{
    background-color: #222222;
    /* height: auto; */
    /* margin-bottom: 0%; */
}
footer h2, h4{
    font-family: 'Quicksand', sans-serif;
}

.social-media .fa-facebook-square{
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
}
.social-media .fa-envelope{
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
}
.social-media .fa-instagram{
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
}
.social-media .fa-facebook-square:hover{
    color: #77A7FF;
}
.social-media .fa-envelope:hover{
    color: red;
}
.social-media .fa-instagram:hover{
    color: pink;
}
.projects .card{
    box-shadow: 2px 2px 3px black;
}
.count{
    font-family: 'Quicksand', sans-serif;
}
.foot-para{
    font-size: 12px;
}
.footer-bg .foot-para a{
    font-size: 17px;
    text-decoration: none;
    color: #ff3300;
    
}
.footer-bg img{
    height: 100px;
    padding-bottom: 10px;
    
}
.footer-bg hr{
    background-color: white;
}

/* .............. Media .............. */
@media(max-width:360px){
    .logo img{
        height: 80px;
    }
    .intro{
        height: 60vh;
        
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 13px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
  
}
@media(min-width:365px),(max-width:400px){
    .logo img{
        height: 80px;
    }
    /* .hero h1{
        font-size: 20px;
    } */
    .intro{
        height: 60vh;      
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 15px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
}
@media(min-width:410px){
    .logo img{
        height: 80px;
    }
    .intro{
        height: 55vh;      
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 15px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
}
@media(min-width:768px){
    .logo img{
        height: 100px;
    }
    .intro{
        height: 40vh;      
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 15px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
  
    .work-sec .work-img .card-text{
        font-size: 15px;
    }
}
@media(min-width:1024px){
    .intro{
        height: 30vh;      
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 15px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
  
    .work-sec .work-img .card-text{
        font-size: 15px;
    }
}
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .intro{
        height: 50vh;      
    }
    .intro h2{
        font-family: 'Quicksand', sans-serif;
        padding-top: 70px;
    }
    .intro p{
        opacity: 0.8;
        font-size: 15px;
        padding-top: 10px;
    }
    .contact h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
  
    .work-sec .work-img .card-text{
        font-size: 15px;
    }
}